@import url('https://fonts.googleapis.com/css?family=Rubik');

title{
	font-size:300pt}
body{
	text-align: center;
	background: red;
	background-size: cover;
	color: rgb(255,255,255);
	background-repeat: no-repeat;
	font-family: 'Rubik', sans-serif;
	background-image: url(../images/sidewalk-2.jpg);
	font-size:40px;
}

img {
	max-width: 300px;
}