<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">


body{
	text-align: center;
	background: red;
	background-size: cover;
	color: rgb(255,255,255);
	background-repeat: no-repeat;
	font-family: Helvetica;
	background-image: url(../images/sidewalk-2.jpg);
}

img {
	max-width: 300px;
}